# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 25.5.0
accelerate=1.10.1=pypi_0
aiofile=3.9.0=pypi_0
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.12.15=pypi_0
aiohttp-retry=2.9.1=pypi_0
aiolimiter=1.2.1=pypi_0
aiosignal=1.4.0=pypi_0
aiosqlite=0.21.0=pypi_0
alembic=1.16.4=pypi_0
altair=5.5.0=pypi_0
annotated-types=0.7.0=pypi_0
anthropic=0.60.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.9.0=pypi_0
apify-client=1.12.1=pypi_0
apify-shared=1.4.2=pypi_0
argcomplete=3.6.2=pypi_0
arize-phoenix-otel=0.12.1=pypi_0
asgiref=3.9.1=pypi_0
assemblyai=0.35.1=pypi_0
astra-assistants=2.5.5=pypi_0
astrapy=2.0.1=pypi_0
astroid=3.3.11=pypi_0
async-timeout=4.0.3=pypi_0
asyncer=0.0.8=pypi_0
atlassian-python-api=3.41.16=pypi_0
attrs=25.3.0=pypi_0
authlib=1.3.1=pypi_0
autogen-agentchat=0.5.7=pypi_0
autogen-core=0.5.7=pypi_0
autogen-ext=0.5.7=pypi_0
autogenstudio=0.4.2.2=pypi_0
azure-ai-agents=1.0.2=pypi_0
azure-ai-documentintelligence=1.0.2=pypi_0
azure-ai-inference=1.0.0b9=pypi_0
azure-ai-projects=1.0.0=pypi_0
azure-common=1.1.28=pypi_0
azure-core=1.35.0=pypi_0
azure-identity=1.23.1=pypi_0
azure-search-documents=11.5.3=pypi_0
azure-storage-blob=12.26.0=pypi_0
babel=2.17.0=pypi_0
backoff=2.2.1=pypi_0
backports-tarfile=1.2.0=pypi_0
bce-python-sdk=0.9.42=pypi_0
bcrypt=4.0.1=pypi_0
beautifulsoup4=4.12.3=pypi_0
blinker=1.9.0=pypi_0
boto3=1.40.55=pypi_0
boto3-stubs=1.40.0=pypi_0
botocore=1.40.55=pypi_0
botocore-stubs=1.38.46=pypi_0
build=1.2.2.post1=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2025.2.25=haa95532_0
cachetools=5.5.2=pypi_0
caio=0.9.24=pypi_0
cattrs=25.1.1=pypi_0
certifi=2024.8.30=pypi_0
cffi=1.17.1=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.2=pypi_0
chroma-hnswlib=0.7.6=pypi_0
chromadb=1.2.0=pypi_0
cleanlab-tlm=1.1.22=pypi_0
clevercsv=0.8.3=pypi_0
click=8.2.1=pypi_0
clickhouse-connect=0.7.19=pypi_0
cloudpickle=3.1.1=pypi_0
cobble=0.1.4=pypi_0
cohere=5.16.1=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
colorlog=6.9.0=pypi_0
composio=0.8.5=pypi_0
composio-client=1.6.0=pypi_0
composio-core=0.7.15=pypi_0
composio-langchain=0.8.5=pypi_0
contourpy=1.3.2=pypi_0
coolname=2.2.0=pypi_0
cramjam=2.11.0=pypi_0
cryptography=43.0.3=pypi_0
cuid=0.4=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.6.7=pypi_0
datasets=3.6.0=pypi_0
decorator=5.2.1=pypi_0
deepdiff=8.5.0=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.18=pypi_0
deprecation=2.1.0=pypi_0
dill=0.3.8=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
dnspython=2.7.0=pypi_0
docling=2.57.0=pypi_0
docling-core=2.49.0=pypi_0
docling-ibm-models=3.10.0=pypi_0
docling-parse=4.7.0=pypi_0
docstring-parser=0.17.0=pypi_0
dspy=2.6.13=pypi_0
dspy-ai=2.5.41=pypi_0
duckdb=1.3.2=pypi_0
duckduckgo-search=7.2.1=pypi_0
durationpy=0.10=pypi_0
dydantic=0.0.8=pypi_0
e2b=1.10.0=pypi_0
e2b-code-interpreter=1.5.2=pypi_0
easyocr=1.7.2=pypi_0
ecdsa=0.19.1=pypi_0
elastic-transport=8.17.1=pypi_0
elasticsearch=8.16.0=pypi_0
elevenlabs=2.8.1=pypi_0
email-validator=2.2.0=pypi_0
emoji=2.14.1=pypi_0
environs=9.5.0=pypi_0
et-xmlfile=2.0.0=pypi_0
eval-type-backport=0.2.2=pypi_0
events=0.5=pypi_0
exceptiongroup=1.3.0=pypi_0
expat=2.7.1=h8ddb27b_0
faiss-cpu=1.9.0.post1=pypi_0
fake-useragent=1.5.1=pypi_0
faker=37.11.0=pypi_0
fastapi=0.116.1=pypi_0
fastapi-cli=0.0.8=pypi_0
fastapi-cloud-cli=0.1.5=pypi_0
fastapi-pagination=0.13.3=pypi_0
fastavro=1.9.7=pypi_0
fastparquet=2024.11.0=pypi_0
filelock=3.18.0=pypi_0
filetype=1.2.0=pypi_0
firecrawl-py=1.17.0=pypi_0
flask=3.1.1=pypi_0
flask-cors=6.0.1=pypi_0
flatbuffers=25.2.10=pypi_0
fonttools=4.59.0=pypi_0
frozendict=2.4.6=pypi_0
frozenlist=1.7.0=pypi_0
fsspec=2025.3.0=pypi_0
future=1.0.0=pypi_0
gassist=0.0.1=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.43=pypi_0
google-ai-generativelanguage=0.6.15=pypi_0
google-api-core=2.25.1=pypi_0
google-api-python-client=2.154.0=pypi_0
google-auth=2.40.3=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-auth-oauthlib=1.2.2=pypi_0
google-cloud-aiplatform=1.91.0=pypi_0
google-cloud-bigquery=3.35.1=pypi_0
google-cloud-core=2.4.3=pypi_0
google-cloud-resource-manager=1.14.2=pypi_0
google-cloud-storage=2.19.0=pypi_0
google-crc32c=1.7.1=pypi_0
google-generativeai=0.8.5=pypi_0
google-resumable-media=2.7.2=pypi_0
google-search-results=2.4.2=pypi_0
googleapis-common-protos=1.70.0=pypi_0
gotrue=2.12.3=pypi_0
grandalf=0.8=pypi_0
graph-retriever=0.8.0=pypi_0
greenlet=3.2.3=pypi_0
griffe=1.9.0=pypi_0
groq=0.30.0=pypi_0
grpc-google-iam-v1=0.14.2=pypi_0
grpcio=1.74.0=pypi_0
grpcio-health-checking=1.71.2=pypi_0
grpcio-status=1.71.2=pypi_0
grpcio-tools=1.71.2=pypi_0
gunicorn=23.0.0=pypi_0
h11=0.16.0=pypi_0
h2=4.2.0=pypi_0
hpack=4.1.0=pypi_0
html2text=2025.4.15=pypi_0
html5lib=1.1=pypi_0
httpcore=1.0.9=pypi_0
httplib2=0.22.0=pypi_0
httptools=0.6.4=pypi_0
httpx=0.27.2=pypi_0
httpx-sse=0.4.0=pypi_0
huggingface=0.0.1=pypi_0
huggingface-hub=0.34.3=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.1.0=pypi_0
ibm-cos-sdk=2.14.3=pypi_0
ibm-cos-sdk-core=2.14.3=pypi_0
ibm-cos-sdk-s3transfer=2.14.3=pypi_0
ibm-watsonx-ai=1.3.32=pypi_0
idna=3.10=pypi_0
ijson=3.4.0=pypi_0
imageio=2.37.0=pypi_0
immutabledict=4.2.1=pypi_0
importlib-metadata=8.7.0=pypi_0
importlib-resources=6.5.2=pypi_0
inflection=0.5.1=pypi_0
iniconfig=2.1.0=pypi_0
isodate=0.7.2=pypi_0
isort=6.0.1=pypi_0
itsdangerous=2.2.0=pypi_0
jaraco-context=6.0.1=pypi_0
jigsawstack=0.2.7=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.10.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.5.1=pypi_0
jq=1.8.0=pypi_0
json-repair=0.30.3=pypi_0
jsonlines=4.0.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpath-python=1.0.6=pypi_0
jsonpointer=3.0.0=pypi_0
jsonquerylang=2.0.1=pypi_0
jsonref=1.1.0=pypi_0
jsonschema=4.25.0=pypi_0
jsonschema-specifications=2025.4.1=pypi_0
kiwisolver=1.4.8=pypi_0
kubernetes=31.0.0=pypi_0
langchain=0.3.23=pypi_0
langchain-anthropic=0.3.14=pypi_0
langchain-astradb=0.6.1=pypi_0
langchain-aws=0.2.33=pypi_0
langchain-chroma=0.2.6=pypi_0
langchain-cohere=0.3.3=pypi_0
langchain-community=0.3.21=pypi_0
langchain-core=0.3.79=pypi_0
langchain-elasticsearch=0.3.0=pypi_0
langchain-experimental=0.3.4=pypi_0
langchain-google-calendar-tools=0.0.1=pypi_0
langchain-google-community=2.0.3=pypi_0
langchain-google-genai=2.0.6=pypi_0
langchain-google-vertexai=2.0.7=pypi_0
langchain-graph-retriever=0.8.0=pypi_0
langchain-groq=0.2.1=pypi_0
langchain-huggingface=0.3.1=pypi_0
langchain-ibm=0.3.15=pypi_0
langchain-milvus=0.1.7=pypi_0
langchain-mistralai=0.2.3=pypi_0
langchain-mongodb=0.7.0=pypi_0
langchain-nvidia-ai-endpoints=0.3.8=pypi_0
langchain-ollama=0.2.1=pypi_0
langchain-openai=0.3.28=pypi_0
langchain-pinecone=0.2.11=pypi_0
langchain-sambanova=0.1.0=pypi_0
langchain-tavily=0.2.12=pypi_0
langchain-tests=0.3.20=pypi_0
langchain-text-splitters=0.3.9=pypi_0
langchain-unstructured=0.1.5=pypi_0
langchainhub=0.1.21=pypi_0
langflow=1.6.4=pypi_0
langflow-base=0.6.4=pypi_0
langfuse=2.53.9=pypi_0
langgraph=0.6.2=pypi_0
langgraph-checkpoint=2.1.1=pypi_0
langgraph-prebuilt=0.6.2=pypi_0
langgraph-sdk=0.2.0=pypi_0
langsmith=0.3.45=pypi_0
langwatch=0.2.19=pypi_0
lark=1.2.2=pypi_0
latex2mathml=3.78.0=pypi_0
lazy-loader=0.4=pypi_0
libffi=3.4.4=hd77b12b_1
litellm=1.60.2=pypi_0
logfire-api=4.0.1=pypi_0
loguru=0.7.3=pypi_0
lomond=0.3.3=pypi_0
lsprotocol=2023.0.1=pypi_0
lxml=5.4.0=pypi_0
lz4=4.4.4=pypi_0
magicattr=0.1.6=pypi_0
magika=0.6.2=pypi_0
mako=1.3.10=pypi_0
mammoth=1.9.1=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markdownify=1.1.0=pypi_0
markitdown=0.1.2=pypi_0
marko=2.2.1=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.26.1=pypi_0
matplotlib=3.10.5=pypi_0
mccabe=0.7.0=pypi_0
mcp=1.10.1=pypi_0
mdurl=0.1.2=pypi_0
mem0ai=0.1.34=pypi_0
metal-sdk=2.5.1=pypi_0
metaphor-python=0.1.23=pypi_0
mistralai=1.5.2=pypi_0
mmh3=5.2.0=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.7.0=pypi_0
mpire=2.10.2=pypi_0
mpmath=1.3.0=pypi_0
msal=1.33.0=pypi_0
msal-extensions=1.3.1=pypi_0
multidict=6.6.3=pypi_0
multiprocess=0.70.16=pypi_0
multitasking=0.0.12=pypi_0
mypy-boto3-bedrock-runtime=1.40.0=pypi_0
mypy-extensions=1.1.0=pypi_0
nanoid=2.0.0=pypi_0
narwhals=2.9.0=pypi_0
needle-python=0.6.0=pypi_0
nest-asyncio=1.6.0=pypi_0
networkx=3.4.2=pypi_0
ninja=1.13.0=pypi_0
nltk=3.9.1=pypi_0
numexpr=2.10.2=pypi_0
numpy=1.26.4=pypi_0
oauthlib=3.3.1=pypi_0
olefile=0.47=pypi_0
ollama=0.5.1=pypi_0
omegaconf=2.3.0=pypi_0
onnxruntime=1.22.1=pypi_0
openai=1.98.0=pypi_0
opencv-python=4.11.0.86=pypi_0
opencv-python-headless=4.11.0.86=pypi_0
openinference-instrumentation=0.1.36=pypi_0
openinference-instrumentation-haystack=0.1.26=pypi_0
openinference-instrumentation-langchain=0.1.50=pypi_0
openinference-instrumentation-openai=0.1.39=pypi_0
openinference-semantic-conventions=0.1.24=pypi_0
openpyxl=3.1.5=pypi_0
opensearch-py=2.8.0=pypi_0
openssl=3.0.17=h35632f6_0
opentelemetry-api=1.36.0=pypi_0
opentelemetry-exporter-otlp=1.36.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.36.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.36.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.36.0=pypi_0
opentelemetry-exporter-prometheus=0.57b0=pypi_0
opentelemetry-instrumentation=0.57b0=pypi_0
opentelemetry-instrumentation-alephalpha=0.47.3=pypi_0
opentelemetry-instrumentation-anthropic=0.47.3=pypi_0
opentelemetry-instrumentation-asgi=0.57b0=pypi_0
opentelemetry-instrumentation-bedrock=0.47.3=pypi_0
opentelemetry-instrumentation-chromadb=0.47.3=pypi_0
opentelemetry-instrumentation-cohere=0.47.3=pypi_0
opentelemetry-instrumentation-crewai=0.47.3=pypi_0
opentelemetry-instrumentation-fastapi=0.57b0=pypi_0
opentelemetry-instrumentation-google-generativeai=0.47.3=pypi_0
opentelemetry-instrumentation-groq=0.47.3=pypi_0
opentelemetry-instrumentation-haystack=0.47.3=pypi_0
opentelemetry-instrumentation-lancedb=0.47.3=pypi_0
opentelemetry-instrumentation-langchain=0.47.3=pypi_0
opentelemetry-instrumentation-llamaindex=0.47.3=pypi_0
opentelemetry-instrumentation-logging=0.57b0=pypi_0
opentelemetry-instrumentation-marqo=0.47.3=pypi_0
opentelemetry-instrumentation-mcp=0.47.3=pypi_0
opentelemetry-instrumentation-milvus=0.47.3=pypi_0
opentelemetry-instrumentation-mistralai=0.47.3=pypi_0
opentelemetry-instrumentation-ollama=0.47.3=pypi_0
opentelemetry-instrumentation-openai=0.47.3=pypi_0
opentelemetry-instrumentation-openai-agents=0.47.3=pypi_0
opentelemetry-instrumentation-pinecone=0.47.3=pypi_0
opentelemetry-instrumentation-qdrant=0.47.3=pypi_0
opentelemetry-instrumentation-redis=0.57b0=pypi_0
opentelemetry-instrumentation-replicate=0.47.3=pypi_0
opentelemetry-instrumentation-requests=0.57b0=pypi_0
opentelemetry-instrumentation-sagemaker=0.47.3=pypi_0
opentelemetry-instrumentation-sqlalchemy=0.57b0=pypi_0
opentelemetry-instrumentation-threading=0.57b0=pypi_0
opentelemetry-instrumentation-together=0.47.3=pypi_0
opentelemetry-instrumentation-transformers=0.47.3=pypi_0
opentelemetry-instrumentation-urllib3=0.57b0=pypi_0
opentelemetry-instrumentation-vertexai=0.47.3=pypi_0
opentelemetry-instrumentation-watsonx=0.47.3=pypi_0
opentelemetry-instrumentation-weaviate=0.47.3=pypi_0
opentelemetry-instrumentation-writer=0.47.3=pypi_0
opentelemetry-proto=1.36.0=pypi_0
opentelemetry-sdk=1.36.0=pypi_0
opentelemetry-semantic-conventions=0.57b0=pypi_0
opentelemetry-semantic-conventions-ai=0.4.13=pypi_0
opentelemetry-util-http=0.57b0=pypi_0
opik=1.8.13=pypi_0
optuna=4.4.0=pypi_0
orderly-set=5.5.0=pypi_0
orjson=3.10.15=pypi_0
ormsgpack=1.10.0=pypi_0
overrides=7.7.0=pypi_0
packaging=24.2=pypi_0
pandas=2.2.3=pypi_0
paramiko=3.5.1=pypi_0
passlib=1.7.4=pypi_0
pdfminer-six=20250506=pypi_0
peewee=3.18.2=pypi_0
pgvector=0.3.6=pypi_0
pillow=11.3.0=pypi_0
pinecone=7.3.0=pypi_0
pinecone-plugin-assistant=1.7.0=pypi_0
pinecone-plugin-interface=0.0.7=pypi_0
pip=25.1=pyhc872135_2
pksuid=1.1.2=pypi_0
platformdirs=4.3.8=pypi_0
playwright=1.54.0=pypi_0
pluggy=1.6.0=pypi_0
polyfactory=2.22.3=pypi_0
portalocker=2.10.1=pypi_0
postgrest=0.16.11=pypi_0
posthog=3.25.0=pypi_0
primp=0.15.0=pypi_0
prometheus-client=0.22.1=pypi_0
prompt-toolkit=3.0.51=pypi_0
propcache=0.3.2=pypi_0
proto-plus=1.26.1=pypi_0
protobuf=5.29.5=pypi_0
psutil=7.1.1=pypi_0
psycopg=3.2.9=pypi_0
py=1.11.0=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=19.0.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.2=pypi_0
pybase62=0.4.3=pypi_0
pybase64=1.4.2=pypi_0
pyclipper=1.3.0.post6=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.23.0=pypi_0
pydantic=2.10.6=pypi_0
pydantic-ai=0.0.55=pypi_0
pydantic-ai-slim=0.0.55=pypi_0
pydantic-core=2.27.2=pypi_0
pydantic-evals=0.0.55=pypi_0
pydantic-graph=0.0.55=pypi_0
pydantic-settings=2.10.1=pypi_0
pydeck=0.9.1=pypi_0
pydub=0.25.1=pypi_0
pyee=13.0.0=pypi_0
pygments=2.19.2=pypi_0
pyjwt=2.10.1=pypi_0
pylatexenc=2.10=pypi_0
pylint=3.3.7=pypi_0
pymilvus=2.4.9=pypi_0
pymongo=4.10.1=pypi_0
pynacl=1.5.0=pypi_0
pyparsing=3.2.3=pypi_0
pypdf=5.1.0=pypi_0
pypdfium2=4.30.0=pypi_0
pyperclip=1.9.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.2.0=pypi_0
pyreadline3=3.5.4=pypi_0
pysher=1.0.8=pypi_0
pytest=8.4.1=pypi_0
pytest-asyncio=0.26.0=pypi_0
pytest-benchmark=5.1.0=pypi_0
pytest-codspeed=4.0.0=pypi_0
pytest-recording=0.13.4=pypi_0
pytest-socket=0.7.0=pypi_0
python=3.10.18=h981015d_0
python-bidi=0.6.6=pypi_0
python-dateutil=2.9.0.post0=pypi_0
python-docx=1.2.0=pypi_0
python-dotenv=1.1.1=pypi_0
python-jose=3.5.0=pypi_0
python-liquid=2.1.0=pypi_0
python-lsp-jsonrpc=1.1.2=pypi_0
python-multipart=0.0.20=pypi_0
python-pptx=1.0.2=pypi_0
pytube=15.0.0=pypi_0
pytz=2024.2=pypi_0
pywin32=307=pypi_0
pyyaml=6.0.2=pypi_0
qdrant-client=1.9.2=pypi_0
qianfan=0.3.5=pypi_0
rapidfuzz=3.13.0=pypi_0
rapidocr=3.4.2=pypi_0
realtime=1.0.6=pypi_0
redis=5.2.1=pypi_0
referencing=0.36.2=pypi_0
regex=2025.7.34=pypi_0
requests=2.32.4=pypi_0
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
retry=0.9.2=pypi_0
rich=13.9.4=pypi_0
rich-toolkit=0.14.9=pypi_0
rignore=0.6.4=pypi_0
rpds-py=0.26.0=pypi_0
rsa=4.9.1=pypi_0
rtree=1.4.1=pypi_0
ruff=0.12.7=pypi_0
s3transfer=0.14.0=pypi_0
safetensors=0.6.2=pypi_0
scikit-image=0.25.2=pypi_0
scikit-learn=1.7.1=pypi_0
scipy=1.15.3=pypi_0
scrapegraph-py=1.17.0=pypi_0
seaborn=0.13.2=pypi_0
semchunk=2.2.2=pypi_0
semver=2.13.0=pypi_0
sentence-transformers=5.1.1=pypi_0
sentry-sdk=2.34.1=pypi_0
setuptools=78.1.1=py310haa95532_0
shapely=2.1.1=pypi_0
shellingham=1.5.4=pypi_0
simsimd=6.5.0=pypi_0
six=1.17.0=pypi_0
smmap=5.0.2=pypi_0
smolagents=1.20.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.7=pypi_0
speechrecognition=3.14.3=pypi_0
spider-client=0.1.24=pypi_0
sqlalchemy=2.0.42=pypi_0
sqlite=3.50.2=hda9a48d_1
sqlmodel=0.0.22=pypi_0
sse-starlette=3.0.2=pypi_0
sseclient-py=1.8.0=pypi_0
starlette=0.47.2=pypi_0
storage3=0.7.7=pypi_0
streamlit=1.50.0=pypi_0
strenum=0.4.15=pypi_0
structlog=25.4.0=pypi_0
supabase=2.6.0=pypi_0
supafunc=0.5.1=pypi_0
sympy=1.14.0=pypi_0
syrupy=4.9.1=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.5.0=pypi_0
termcolor=3.1.0=pypi_0
threadpoolctl=3.6.0=pypi_0
tifffile=2025.5.10=pypi_0
tiktoken=0.9.0=pypi_0
tk=8.6.14=h5e9d12e_1
tokenizers=0.22.1=pypi_0
toml=0.10.2=pypi_0
tomli=2.2.1=pypi_0
tomlkit=0.13.3=pypi_0
torch=2.9.0=pypi_0
torchvision=0.24.0=pypi_0
tornado=6.5.2=pypi_0
tqdm=4.67.1=pypi_0
traceloop-sdk=0.47.3=pypi_0
transformers=4.57.1=pypi_0
tree-sitter=0.23.2=pypi_0
tree-sitter-python=0.23.6=pypi_0
trustcall=0.0.39=pypi_0
twelvelabs=0.4.11=pypi_0
typer=0.16.0=pypi_0
types-awscrt=0.27.5=pypi_0
types-cachetools=5.5.0.20240820=pypi_0
types-requests=2.32.4.20250611=pypi_0
types-s3transfer=0.13.0=pypi_0
typing-extensions=4.14.1=pypi_0
typing-inspect=0.9.0=pypi_0
typing-inspection=0.4.1=pypi_0
tzdata=2025.2=pypi_0
ucrt=10.0.22621.0=haa95532_0
ujson=5.10.0=pypi_0
uncurl=0.0.11=pypi_0
unstructured-client=0.25.9=pypi_0
upstash-vector=0.6.0=pypi_0
uritemplate=4.2.0=pypi_0
urllib3=2.5.0=pypi_0
uuid6=2025.0.1=pypi_0
uv=0.7.20=pypi_0
uvicorn=0.35.0=pypi_0
validators=0.34.0=pypi_0
vc=14.3=h2df5915_10
vc14_runtime=14.44.35208=h4927774_10
vcrpy=7.0.0=pypi_0
vs2015_runtime=14.44.35208=ha6b5a95_10
watchdog=6.0.0=pypi_0
watchfiles=1.1.0=pypi_0
wcwidth=0.2.13=pypi_0
weaviate-client=4.10.2=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.45.1=py310haa95532_0
wikipedia=1.4.0=pypi_0
win32-setctime=1.2.0=pypi_0
wolframalpha=5.1.3=pypi_0
wrapt=1.17.2=pypi_0
xlrd=2.0.2=pypi_0
xlsxwriter=3.2.5=pypi_0
xmltodict=0.14.2=pypi_0
xxhash=3.5.0=pypi_0
xz=5.6.4=h4754444_1
yarl=1.20.1=pypi_0
yfinance=0.2.50=pypi_0
youtube-transcript-api=0.6.3=pypi_0
zep-python=2.0.2=pypi_0
zipp=3.23.0=pypi_0
zlib=1.2.13=h8cc25b3_1
zstandard=0.23.0=pypi_0
